.connection {
    padding: 52px 36px;
    overflow: hidden;
}

.connection-container {
    max-width: 1140px;
    margin: 0 auto;
}

.section-title {
    font-size: 36px;
    margin-bottom: 52px;
}

.connection-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: #6d6d6d;
}

.connection-list li {
    max-width: 350px;
    line-height: 24px;
}

.connection-list li::before {
    margin-bottom: 26px;
    display: block;
    content: '';
    background-image: url('../img/1pic.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 130px;
    height: 130px;
}

.connection-list li:nth-child(2)::before {
    background-image: url('../img/2pic.svg');
}

.connection-list li:last-child::before {
    background-image: url('../img/3pic.svg');
}

.payment {
    background-color: #f3f3f3;
    padding: 42px 36px 52px;
    overflow: hidden;
}

.payment-container {
    max-width: 1140px;
    margin: 0 auto;
}

.payment-content {
    display: flex;
    gap: 52px;
}

.payment-item {
    padding: 35px 30px;
    background-color: #efc8b1;
    min-height: 400px;
    width: 450px;
}

.payment-way {
    margin-bottom: 20px;
}

.payment-qr {
    display: block;
    margin: 0 auto;
}

.payment-contract {
    margin-top: 20px;
}

.payment-contract-link {
    display: block;
    text-decoration: underline;
    color: #682323;
}

.payment-item-content {
    display: grid;
    grid-template-columns: auto auto; 
    gap: 20px 10px;
}

.payment-item-content a {
    text-decoration: underline;
    color: #682323;
    letter-spacing: -1px;
    font-size: 14px;
}

.modal-content {
    max-width: 700px;
}

.services-rules {
    text-decoration: underline;
    color: #682323;
    align-self: flex-start;
    border: 1px solid #682323;
    padding: 16px 28px;
}

.contract-offer {
    padding: 0 36px;
    overflow: hidden;
}

.offer-container {
    margin: 0 auto;
    padding: 52px 0;
    max-width: 1140px;
}

.contract-title {
    font-size: 36px;
    margin-bottom: 26px;
}

.offer-content {
    margin: 0 auto;
    max-width: 952px;
    max-height: 500px;
    padding: 16px;
    border: 1px solid #682323;
    overflow-y: auto;
}

.offer-document {
    height: 100%;
    
}

.partners {
    margin: 25px auto;
    padding: 0 36px;
    max-width: 666px;
}

.payment_partners {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.payment-info {
    list-style: none;
}

@media (max-width: 520px) {
    .section-title {
        font-size: 28px;
    }

    .payment-item {
        min-height: auto;
        max-width: 450px;
        width: 100%;
    }

    .payment-item-content {
        grid-template-columns: auto;
    }

    .payment-qr {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .connection-list {
        flex-direction: column;
        align-items: center;
        gap: 52px;
    }

    .connection-list li {
        text-align: center;
    }

    .connection-list li::before {
        margin: 0 auto 26px;
    }

    .payment-content {
        flex-direction: column;
        align-items: center;
    }
}
