.documents {
    padding: 52px 36px;
}

.documents-container {
    max-width: 1140px;
    margin: 0 auto;
}

.section-title {
    font-size: 36px;
    margin-bottom: 30px;
}

.documents-list {
    margin: 0 auto;
    list-style: none;
    max-width: 1000px;
}

.documents-list li {
    margin-bottom: 12px;
    border: 2px solid #efc8b1;
    border-radius: 5px;
}

.document-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
    color: black;
    padding: 12px 24px;
    background-color: #efc8b13c;
    transition: background-color 0.2s ease;
}

.document-link:hover {
    background-color: #efc8b180;
}

.document-link::after {
    display: inline-block;
    content: '';
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.pdf .document-link::after {
    background-image: url('../img/document-ofer-pdf.svg');
}

.docx .document-link::after {
    background-image: url('../img/docx-document.svg');
}



@media (max-width: 500px) {
    .section-title {
        font-size: 28px;
    }
    
    .document-link {
        font-size: 18px;
    }
}

@media (max-width: 450px) {
    .document-link {
        overflow: hidden;
    }
    
    .document-link::after{
        display: none;
    }
}

@media (max-width: 350px) {
    .document-link {
        font-size: 15px;
    }
}