header {
    padding: 36px 52px;
    background-color: #514644;
    color: white;
}

header > ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 28px;
    font-weight: 600;
    color: #efc8b1;
}

.header-nav {
    display: flex;
    list-style: none;
    gap: 18px;
    flex-wrap: wrap;
    justify-content: center
}

.header-nav a {
    cursor: pointer;
    transition: color 0.2s ease;
}

.header-nav a:hover {
    color: #efc8b1;
}

.header-nav a.active {
    color: #efc8b1;
}

.header-phone {
    font-size: 24px;
    font-weight: 500;
    transition: color 0.2s ease;
}

.header-phone:hover {
    color: #efc8b1;
}