.hero {
    position: relative;
    padding: 0 20px;
    background-image: url('../img/house.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero::before {
    position: absolute;
    content: '';
    background-color: #000000b7;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    padding: 120px 0;
    z-index: 10;
    color: white;
}

.hero-title {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 30px;
}

.hero-list {
    margin-left: 20px;
    list-style-image: url('../img/check-mark.svg');
    line-height: 26px;
    max-width: 450px;
}

.hero-list li {
    margin-bottom: 10px;
}

.hero-link {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 24px;
    background-color: #efc8b1;
    color: black;
    border: 1px solid #efc8b1;
    border-radius: 5px;
    transition: color 0.2s ease;
}

.hero-link:hover {
    box-shadow: 0 0 18px #efc8b1;
}

.advantagest-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 52px 0 80px;
}

.advantagest-title {
    margin: 0 auto 42px;
    max-width: 600px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #696969;
}

.advantagest-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.advantagest-list li {
    max-width: 300px;
}

.advantagest-list li::before {
    margin-bottom: 26px;
    display: block;
    content: '';
    background-image: url('../img/1pic.svg');
    width: 106px;
    height: 106px;
}

.advantagest-list li:nth-child(2)::before {
    background-image: url('../img/2pic.svg');
}

.advantagest-list li:last-child::before {
    background-image: url('../img/3pic.svg');
}

.guarantees {
    position: relative;
}

.guarantees::before {
    position: absolute;
    content: '';
    background-color: #000000be;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.guarantees-container {
    position: relative;
    margin: 0 auto;
    max-width: 1140px;
    padding: 52px 0 60px;
    z-index: 10;
    color: white;
}

.guarantees-title {
    font-size: 34px;
    margin-bottom: 26px
}

.guarantees-list {
    margin-left: 20px;
    list-style-image: url('..img/check-mark-guaranties.svg');
}

.guarantees-list li {
    margin-bottom: 13px;
}

.guarantees-list li:last-child {
    margin-bottom: 0;
}

.partners {
    padding: 52px 0;
}

.partners-title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #696969;
}

.partners-list {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    list-style: none;
    gap: 100px;
}

.partners-list::-webkit-scrollbar {
    display: none;
}

.partners-list-item img {
    width: 125px;
    height: auto;
}