.modal {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    padding: 36px 36px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: #4747475e;
    overflow-y: auto;
    visibility: hidden;
}

.modal-area {
    display: flex;
    flex-direction: column;
    line-height: 22px;
    gap: 18px;
    max-width: 500px;
    max-height: 90dvh;
    padding: 35px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 1000;
    overflow-y: auto;
}

.modal-button {
    background-color: #efc8b1;
    border: none;
    color: #000000;
    padding: 12px 52px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase ;
    cursor: pointer;
    transition: background-color 0.2s ease;
    align-self: flex-end;
}

.modal-button:hover {
    background-color: #dbb198;
}

.modal.open {
    visibility: visible;
}

@media (max-width: 520px) {
    .modal-button {
        font-size: 14px;
    }
}