.hero {
    position: relative;
    background-image: url('/img/rent_out.jpg');
    background-size: cover;
    background-position: 50% 35%;
    background-repeat: no-repeat;
}

.hero::before {
    position: absolute;
    content: '';
    background-color: #0000008e;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    padding: 120px 0 120px;
    z-index: 10;
    color: white;
}

.hero-title {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 30px;
}

.form-container {
    margin: 0 auto;
    max-width: 1140px;
    padding: 46px 0;
}

.form-container form {
    margin: 0 auto;
    width: 350px;
}

.input-label {
    display: block;
    margin-bottom: 20px;
}

.input-label div {
    margin-bottom: 4px;
    font-size: 18px;
}

.input {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.text-input {
    padding: 10px;
    width: 100%;
    resize: vertical;
    min-height: 100px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.agreement {
    color: #514644;
    text-decoration: underline;
    font-size: 14px;
}

.button {
    display: block;
    margin-top: 16px;
    padding: 12px 24px;
    background-color: #efc8b1;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.button:hover {
    background-color: #dbb198;
}