.video-reviews {
    padding: 0 36px;
}

.video-reviews-container {
    margin: 0 auto;
    padding: 52px 0;
}

.title-wrapper {
    display: flex;
    margin: 0 auto 36px;
    gap: 25px;
    align-items: center;
    max-width: 1140px;
}

.video-reviews-title {
    font-size: 36px;
}

.video-reviews-buttons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.scroll-btn {
    display: block;
    width: 50px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #efc8b1;
    background-repeat: no-repeat;
    background-position: center;
}

#left {
    background-image: url('../img/left-scroll.svg');
}

#right {
    background-image: url('../img/right-scroll.svg');
}

.video-reviews-list {
    display: flex;
    padding: 0 52px;
    width: 100%;
    list-style: none;
    gap: 24px;
    overflow-x: auto;
}

.video-reviews-list li {
    display: block;
}

.video-reviews-list::-webkit-scrollbar {
    display: none;
}

.reviews {
    padding: 0 36px;
}

.reviews-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 52px 0;
}

.reviews-title-wrapper {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
}

.reviews-title {
    font-size: 36px;
}

.reviews-button {
    padding: 12px 24px;
    border-radius: 5px;
    border: 1px solid #efc8b1;
    transition: color 0.2s ease;
    color: black;
    background-color: #efc8b1;
}

.reviews-button:hover {
    box-shadow: 0 0 18px #d6ad95;
}

.reviews-content-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
}

.reviews-item {
    margin: 0 15px;
    border: 1px solid #000000a8;
    padding: 20px;
    width: 90%;
}

.reviews-item-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
    gap: 5px;
}

.header-name {
    color: #696969;
    font-size: 18px;
    font-weight: 600;
}

.header-date {
    color: #6d6d6d;
    font-size: 14px;
}

.reviews-item-content {
    color: #6d6d6d;
    line-height: 22px;
}

.modal-content {
    width: 500px;
}

.input {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.text-input {
    padding: 10px;
    width: 100%;
    resize: vertical;
    min-height: 100px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.error-message {
    color: rgb(173, 0, 0);
}

@media (max-width: 1300px) {
    .video-reviews-list iframe {
        width:360px;
        height: 200px;
    }
}

@media (max-width: 500px) {
    .video-reviews-title {
        font-size: 28px;
    }

    .video-reviews-list iframe {
        width: 270px;
        height: 150px;
    }

    .reviews-title {
        font-size: 28px;
    }
}

@media (max-width: 380px) {
    .reviews-title-wrapper {
        flex-wrap: wrap;
        gap: 7px;
        margin: 0 auto 15px;
        justify-content: center;
    }
}